.insta{
  
    margin:auto;
    position: absolute;
    bottom:570px;
    right:160px;
}

.fb{

    margin:auto;
    position: absolute;
    bottom:570px;
    right:190px;
}
/* Google Maps  */
.gmaps{
    color: rgb(161, 171, 184);
    position: absolute;
    top:60px;
    font-family: 'Fuzzy Bubbles', cursive;
     font-family: 'Gabarito', cursive;
}

.mapiconpos{
    
    margin: auto;
    height:40px;
    width: 40px;
    border-color: rgb(184, 176, 176);
    border-radius: 30%;
    display:flex;
    justify-content: center;
    position: absolute;
    top:95px;
    background-color: white;
    left:10px;
}
.mapicon{
    padding-top:7px;
    height:23px;
    width: 20px;
}
.mapstext{
    font-size: 23px;
    position: absolute;
    top:103px;
    left:70px;
    color: rgb(110, 117, 125);
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Gabarito', cursive;
}